/* Everforest https://github.com/sainnhe/everforest */
:root {
  --bg-color: #2D353B;
  --text-color: #D3C6AA;
  --link-color: #7FBBB3;
  --heading-color: #A7C080;
  --border-color: #4F585E;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: monospace;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

header, main, footer {
  padding: 1.25rem;
  max-width: 90%;
  width: 100%;
  margin: 0 auto;
}

h1, h2, h3 {
  color: var(--heading-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  header, main, footer {
    max-width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  header, main, footer {
    max-width: 70%;
  }
}

@media screen and (min-width: 1200px) {
  header, main, footer {
    max-width: 60%;
  }
}

/* Add a subtle border to sections */
section {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
}

/* Style for code blocks */
pre, code {
  background-color: #1e1e1e;
  border-radius: 0.25rem;
  padding: 0.625rem;
  overflow-x: auto;
}

